<% include partials/header %>
<div id="container">
    <h1 class="header">To-Do List <span id="toggle-form"> <a class="add_new" href="to-do/new"><i
                    class="fa fa-plus"></i></a></span>
    </h1>
    <form id="quickAdd" action="/to-do" method="POST">
        <input class="quickInput" type="text" name="new[title]" placeholder="quick add!">
        <button style="display: none;" id="quickBtn"></button>
    </form>
    <ul>
        <% todo_list.forEach(function(todo){ %>
        <li class="<%= todo.completed %>">
            <span id="itemMarker">
                <span id="mark">
                    <form id="markForm" action="/to-do/<%= todo._id %>/complete?_method=PUT" method="POST">
                        <i class="fa fa-check"></i>
                    </form>
                </span>
                <span class="<%= todo.priority %>">
                    <a id="info" class="info <%= todo.completed %>" href="/to-do/<%= todo._id %>">
                        <%= todo.title %>
                    </a>
                </span>
            </span>
            <span>
                <i id="trash" class="fa fa-trash Must float-right mt-2 mr-2"></i>
                <form id="delete" action="/to-do/<%= todo._id %>?_method=DELETE" method="POST"></form>
            </span>
        </li>


        <% }) %>
    </ul>
    <button class="btn btn-primary float-right" id="hideBtn">hide completed</button>

</div>
<script>

    var showing = true;
    $("ul").on('click', '#trash', function () {
        // alert("clickity")
        $(this).parent().find("#delete").trigger("submit")
    })
    $('#hideBtn').on("click", function () {
        $('.completed').fadeToggle(400, function () {
            $(this).toggleClass("hide")
        })
        if (showing) {
            $(this).html("show completed")
        } else {
            $(this).html("hide completed")
        }
        showing = !showing
    })
    $('ul').on('click', '#itemMarker', function () {
        $(this).find("#info")[0].click()
    })

    $('ul').on('click', '#mark', function (event) {
        $(this).parent().toggleClass('completed')
        if (!showing) {
            $(this).fadeToggle(400, function () {
                $(this).toggleClass('hide')
            })
        }
        $(this).find('#markForm').trigger("submit")


        // $(this)
        //     .parent()
        //     .fadeOut(500, function () {
        //         $(this).find("button").click() //submit form to delete
        //         $(this).remove()
        //     })

        event.stopPropagation()
    })


    $("#quickAdd").keypress(function (event) {
        if (event.which === 13) {
            event.preventDefault()
            $("#quickBtn").click()
            $(this).val('')

        }

    })


    // $('#toggle-form').click(function () {
    //     $("input[type='text']").fadeToggle()
    // })
</script>
<% include partials/footer %>