<% include partials/header %>
<div class="container">
    <h1><%= todo_item.title %></h1>
    <p><%= todo_item.description %></p>
    <p><%= todo_item.priority %></p>
    <p><%= todo_item.date_created.toDateString() %></p>
    <a href="/to-do/<%= todo_item._id %>/edit" class="btn btn-primary">Edit</a>
    <form id="delete" action="/to-do/<%= todo_item._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
<% include partials/footer %>