<% include ../partials/header %>
<div id="container " class="container displayInfo">
    <h1>Title: <span class="title"><%= todo_item.title %></span></h1>
    <hr />
    <p>Description: <span class="title"><%= todo_item.description %></span> </p>
    <p>Priority:<span class="title"> <%= todo_item.priority ? todo_item.priority : "Whenever" %></span></p>
    <p>Date created:<span class="title"> <%= todo_item.date_created.toDateString() %></span></p>
    <a href="/to-do/<%= todo_item._id %>/edit" class="btn btn-outline-primary">Edit</a>
    <form class="btnGrp" id="delete" action="/to-do/<%= todo_item._id %>?_method=DELETE" method="POST">
        <button class="btn btn-outline-danger">Delete</button>
    </form>
    <div class="pt-3">
        <a href="/to-do">Back</a>

    </div>
</div>

<% include ../partials/footer %>